.header {
   background-color: $header-primary;
   height: 6.25rem;

   &-container {
      width: 83%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: .75rem;
      height: 100%;
      margin: 0 auto;
      max-width: 75rem;

      @media (max-width: '900px') {
         display: flex;
         width: 88%;
         justify-content: space-between;
      }
   }

   &__logo-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-column: 1/3;
   }

   &__logo-heading {
      font-size: 1.75rem;
      font-weight: 600;
      color: white;

      @media (max-width: '900px') {
         display: none;
      }
   }

   &__search-container {
      grid-column: 4/9;
      border-radius: .625rem;
      position: relative;
      display: flex;
      align-items: center;

      @media (max-width: '900px') {
         width: 90%;
      }
   }

   .search-icon {
      position: absolute;
      top: 40%;
      left: 0.9375rem;
   }

   &__search {
      width: 100%;
      background-color: $header-light;
      border: none;
      height: 2.875rem;
      padding-left: 3.125rem;
      border-radius: 10px;

      &::placeholder {
         color: white;
         font-size: 18px;
         font-weight: 600;
         font-family: 'Source Sans Pro';
      }
   }

   &__notification-container {
      grid-column: 11/13;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: '900px') {
         display: none;
      }

      &--inner {
         width: 87%;
         display: flex;
         background-color: $header-light;
         height: 46px;
         border-radius: 100px;
         align-items: center;
         justify-content: space-evenly;
      }
   }

   &__notification-heading {
      font-size: 18px;
      font-weight: 600;
      color: white;
   }
}
