$header-primary: #161b46;
$bg-primary: #f6f6f6;
$header-light: #202555;
$navbar-primary: #635a6b;
$heading-primary: #372546;
$heading-light: #8b8b8b;
$manager-bg: #f5f6ff;
$manager-text: #3e3744;
$carrer-text: #767379;
$matches-ft: #949292;
$bar-win: #15be65;
$bar-draw: #b2b2b2;
$navbar-fill: #f2f2f2;
