.content {
   width: 83%;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 4rem 1fr;
   row-gap: 0;
   column-gap: .75rem;
   margin: 0 auto;
   margin-top: 1.125rem;
   margin-bottom: 4rem;
   max-width: 75rem;

   @media (max-width: '900px') {
      width: 88%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 64px 1fr 50rem;
      margin-bottom: 2.5rem;
   }

   &__first {
      grid-column: 1/9;
      grid-row: 2/3;
      display: flex;
      flex-direction: column;

      &--inner {
         display: flex;
         justify-content: space-between;
      }

      @media (max-width: '900px') {
         grid-column: 1/5;
         margin-bottom: 1rem;
      }
   }

   &__second {
      grid-column: 9/13;
      grid-row: 2/3;

      @media (max-width: '900px') {
         grid-column: 1/5;
         grid-row: 3/4;
      }
   }
}
