.stats {
   height: 33.8125rem;
   background-color: white;
   width: 49%;
   border-radius: .625rem;
   padding: 1.5625rem .625rem .625rem;

   &__icon {
      width: 1.875rem;
      height: 3.375rem;

      &--big {
         width: 3.125rem;
         height: 3.125rem;
      }

      &--small {
         width: .875rem;
         height: 1.75rem;
      }

      &--medium {
         width: 1.6875rem;
         height: 1.6875rem;
      }
   }

   &__result-container {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1.875rem;
   }

   &__team {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;

      &-name {
         color: $header-primary;
         font-size: 1.125rem;
         font-weight: 600;
      }
   }

   &__result {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-heading {
         font-size: 2.5rem;
         color: $header-primary;
         font-weight: 600;
      }

      &-text {
         color: $matches-ft;
         font-size: .875rem;
         font-weight: 600;
      }
   }

   &__winning {
      display: flex;
      justify-content: center;
      color: $header-primary;
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 3.125rem;
   }

   &__bar {
      width: 100%;
      height: 1.3125rem;
      display: flex;
   }

   &__loss {
      width: 56%;
      background-color: $header-primary;
      height: 100%;
      border-radius: .625rem 0 0 .625rem;
      position: relative;

      &:before {
         content: '56%';
         position: absolute;
         bottom: 120%;
         left: 50%;
         color: $header-primary;
      }

      &:after {
         content: '';
         position: absolute;
         right: 0;
         background: $header-primary;
         height: 2.75rem;
         width: .0625rem;
         top: -50%;
      }
   }

   &__draw {
      width: 18%;
      background-color: $bar-draw;
      height: 100%;
      position: relative;

      &:after {
         content: '18%';
         position: absolute;
         bottom: 120%;
         right: 30%;
         color: $bar-draw;
      }
   }

   &__win {
      width: 26%;
      background-color: $bar-win;
      height: 100%;
      border-radius: 0 .625rem .625rem 0;
      position: relative;

      &:after {
         content: '26%';
         position: absolute;
         bottom: 120%;
         right: 40%;
         color: $bar-win;
      }

      &:before {
         content: '';
         position: absolute;
         left: 0;
         background: $bar-win;
         height: 2.75rem;
         width: .0625rem;
         top: -50%;
      }
   }

   &__nav {
      display: flex;
      width: 95%;
      margin: 0 auto;
      justify-content: space-between;
      margin-top: 2.8125rem;

      &-bar {
         height: .1875rem;
         background-color: $navbar-fill;
         margin-top: .5rem;
         position: relative;
         margin-bottom: 2.0625rem;

         &--fill {
            position: absolute;
            display: inline-block;
            width: 33%;
            background-color: $header-primary;
            height: .1875rem;
         }
      }
   }

   &__nav-btns {
      color: $navbar-primary;

      &--selected {
         color: $header-primary;
         font-weight: 600;
      }
   }

   &__text {
      color: $header-primary;
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 1rem;
   }

   &__card-container {
      display: flex;
      gap: .5625rem;
   }

   &__card {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $bg-primary;
      height: 3.5625rem;
      border-radius: .3125rem;
      margin-bottom: 1.25rem;
   }

   &__shots {
      display: flex;
      justify-content: center;
      font-size: .875rem;
      font-weight: 600;
      color: $header-primary;
   }

   &__shots-goal {
      display: flex;
      justify-content: center;

      &-container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: .75rem;
      }

      width: 100%;
      height: .375rem;
   }

   &__shots-text {
      font-size: .875rem;
      color: $header-primary;
      font-weight: 600;
   }

   &-white {
      height: 100%;
      width: 10%;
      background: $bg-primary;

      &--big {
         width: 20%;
      }
   }
   &-blue {
      height: 100%;
      background: $header-primary;
      width: 30%;
   }

   &-green {
      height: 100%;
      background: $bar-win;
      width: 30%;
   }
}
